<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/theme.css">
    </head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Titilope Orukotan</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item active"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
                    <li class="nav-item"><a class="nav-link" href="/students/add">Add Student</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
					<li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
					<li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<main class="col-md-12">

                    <section>
                        <h2>Tables</h2>
                        <table border="1">
                            <caption>Table 1</caption>
                            <thead>
                                <tr>
                                    <th colspan="3">CATEGORY</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="2">FOOD</td>
                                    <td>VEGETABLES</td>
                                    <td>GRAIN</td>
                                </tr>
                                <tr>
                                    <td>LETTUCE</td>
                                    <td>RICE</td>
                                </tr>
                            </tbody>
                        </table>
                        <table border="1">
                            <caption>Table 2</caption>
                            <thead>
                                <tr>
                                    <th>Header 1</th>
                                    <th>Header 2</th>
                                    <th>Header 3</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Row 1, Cell 1</td>
                                    <td>Row 1, Cell 2</td>
                                    <td>Row 1, Cell 3</td>
                                </tr>
                                <tr>
                                    <td>Row 2, Cell 1</td>
                                    <td>Row 2, Cell 2</td>
                                    <td>Row 2, Cell 3</td>
                                </tr>
                                <tr>
                                    <td>Row 3, Cell 1</td>
                                    <td>Row 3, Cell 2</td>
                                    <td>Row 3, Cell 3</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>This section contains two HTML tables with captions, headers, and data cells, demonstrating the use of rowspan and colspan properties.</p>
                    </section>
                    
                    <section>
                        <h2>Lists</h2>
                        <ul>
                            <li>List item 1</li>
                            <li>List item 2</li>
                            <li>List item 3
                                <ul>
                                    <li>Nested item 1</li>
                                    <li>Nested item 2</li>
                                    <li>Nested item 3</li>
                                </ul>
                            </li>
                            <li>List item 4</li>
                            <li>List item 5</li>
                        </ul>
                        <p>This section contains an ordered list with a nested unordered list, demonstrating different types of lists.</p>
                    </section>
                    
                    <section>
                        <section>
                            <h2>Images</h2>
                            <p>This section contains images of snowboarder.</p>
                            <img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" alt="Snowboarder">
                            <p>This section contains images of Hotdog.</p>
                            <img src="https://img.freepik.com/free-vector/football-sketch-with-smokey-wave-design-vector-illustration_460848-14980.jpg" alt="Football">
                            <p>This section contains images of Sport.</p>
                            <img src="https://img.freepik.com/free-vector/athletic-legs-sport-fitness-hand-drawn-sketch-vector-illustration_460848-14558.jpg" alt="Sport">
                        </section>
                    </section>
                    
                    <section>
                        <h2>Audio</h2>
                        <audio controls>
                            <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mpeg">
                            <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg" type="audio/ogg">
                            Your browser does not support the audio element.
                        </audio>
                        <p>This section contains an HTML 5 audio player.</p>
                    </section>
                    
                    <section>
                        <h2>Video</h2>
                        <video controls>
                            <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4">
                            <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg" type="video/ogg">
                            <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.webm" type="video/webm">
                            Your browser does not support the video element.
                        </video>
                        <p>This section contains an HTML 5 video player.</p>

				</main>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>